.card_Section{
  margin-top: 2rem;
}

.card_Section .cardBox{
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #FAF6F0;
}

.card_Section .cardBox .cards{
  background: #F3F3F3;
  box-shadow: 0px 0px 2px 3px #000;
  transition: all linear 0.2s;
  height: 36rem;
}

.card_Section .cardBox .cards:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 2px 5px #000;
}

.card_Section .cardBox .cards .imgBox img{
  max-width: 100%;
  object-fit: cover;
  height: 15rem;
}

.card_Section .cardBox .cards .textContent{
  padding: 1rem;
}

.card_Section .cardBox .cards .textContent .title{
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
  color: #000;
}

.card_Section .cardBox .cards .textContent .dateTime{
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #a88a8af1;
}

.card_Section .cardBox .cards .textContent .description{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
  color: #796262f1;
}